<!DOCTYPE html>
<html>
<head>
	<title>BitcoinMicrofinance</title>
	<meta charset="utf-8">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lte IE 8]>
			<link rel="stylesheet" href="/combo/1.17.16?/css/layouts/side-menu_old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<%= stylesheet_link_tag "side-menu", media: "all", "data-turbolinks-track" => true %>
	<!--<![endif]-->
	
	<!--[if lt IE 9]>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
	<![endif]-->

</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">Menu</a>

            <ul>
  							<li class="menu-item-divided"><%= link_to "Home", root_path %></li>
  							<% if user_signed_in? %>
	  							<li><%= link_to current_user.username, edit_user_registration_path %></li>
	  							<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
								<% else %>
									<li><%= link_to "Register", new_user_registration_path %></li>
									<li><%= link_to "Login", new_user_session_path %></li>
								<% end %>
  							<li class="menu-item-divided"><%= link_to "My account", root_path %></li>
                <li><a href="#">My loans</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
			<%= yield %>
    </div>
</div>
</body>
<%= javascript_include_tag 'ui', 'data-turbolinks-track' => true %>
</html>
